{% extends "base.html" %}
{% block title %}danielblossom.com{% endblock %}
{% block container%}
<div class="row">
  <div class="col-lg-auto">
    <p>There was an error with your input.</p>
  </div>
</div>
<div class="row">
  <div class="col-lg-auto">
    <p> You entered: {{mylist}}</p>
    <p> Valid input is up to 4 numbers (leading zeros not required) separated by a comma eg: 1234, 5678, 9000</p>
    <a class="btn btn-primary" href="/rafflechecker" role="button">Back</a>
  </div>
</div>
{% endblock %}
