{% extends "base.html" %}
{% block title %}danielblossom.com{% endblock %}
{% block container%}
<div class="row">
  <div class="col-lg-auto">
    <h1>Let's check your raffle ticket(s)!</h1>
  </div>
</div>
<form action="#" method="post" id="myForm">
  <div class="row">
    <div class="col-lg-auto">
      <div class="mb-3">
        <label for="ticket_input" class="form-label">
        Enter tickets spearated by comma ie: 1234,5678,9999
        </label>
        <textarea class="form-control" id="ticket_input" name="tickets" rows="3"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <p><label for="ticket_csv">OR upload a *.csv file: </label></P>
      <p><input type="file" class="form-control-file" id="ticket_csv"></p>
    </div>
  </div>
  <div class="row">
    <div class="form-check">
      <input type="checkbox" class="form-check-input checkbox" id="saveticket" name="saveticket">
      <label class="form-check-label" for="saveticket">Save tickets to be automatically notified if won on future dates</label>
    </div>
  </div>
  <div class="row" id="saveticketinputs">
    <div class="col-sm form-group">
      <label for="name">Name:</label>
      <input type="text" class="form-control" placeholder="name" id="name" name="name"></div>
    <div class="col-sm form-group">
      <label for="email">Email address:</label>
      <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone.</small>
    </div>
  </div>
    <div class="row">
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit" name="submit">Submit</button>
      </div>
    </div>
</form>
{% endblock %}
